.react-multi-carousel-list.carousel-container {
  height: 250px;
}
.project .react-multi-carousel-list.carousel-container {
  height: 550px;
}
.testimonial .react-multi-carousel-list.carousel-container {
  height: 400px;
}
.project,
.testimonial {
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  background: #fff;
  margin-top: 20px;
}
.card-body {
  padding: 1.3rem;
  border: 1px solid #ccc;
  border-top: 0;
  background: #eee;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-footer-project {
  text-align: center;
  padding: 0.7rem;
  background: #9c344c !important;
  color: #fff !important;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 30px;
}
.owl-prev {
  border-radius: 50%;
  position: relative;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: 0 0;
  margin: 0.3rem;
  padding: 0;
  border: 0;
  cursor: pointer;
}
li {
  padding-left: 0px;
  margin-left: 0px !important;
}
